[Unit]
Description=Bluetooth LE Scanner
After=autologin@.service

[Service]
User=root
Group=root
Type=simple
Restart=on-failure
StartLimitBurst=0
RestartSec=3
ExecStart=/usr/bin/python3 /home/pi/smartbot/bin/lescanner.py

[Install]
WantedBy=multi-user.target
